*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
.container{
    max-width: 70%;
    margin: 0 auto;
}
$font-color:#fff;
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// desktop


// start header
header{
    .btn-nav{
        display: none;
        background-color: #00193c;
        background-image: url(../image/background-header.webp);
        position: absolute;
        left: 0;
        bottom:7%;
        transition: 1.5s ease;
        z-index: 7;
        width: 250px;
        nav{
            ul{
               
                display: flex;
                flex-direction: column;

                li{
                    padding: 0 8px;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 10px;
                    border-top: 2px solid gray;
                    a{
                        color: $font-color;
                        font-size: 20px;
                        font-weight: bold;
                    }  
                }
                .active{
                    a{
                    color: gray;
                    }
                }
                
            }
        }
    }


    #top-header{
     width: 100%;
     background-color: #00193c;
     background-image: url(../image/background-header.webp);
    
    .top-header{
        width: 100%;
        height: 50px;
        @include flex-between;
        .logo{
            
            .logo-btn{
                display: none;
                background-color: #00193c;
                background-image: url(../image/background-header.webp);
                color:$font-color;
                font-size: 25px;
                border: none;
            }

            a{
                font-size: 35px;
                color: $font-color;
                text-transform: uppercase;
            }
            a::after{
                content: '';
                background-image: url(../image/xb64.webp);
                width: 32px;
                height: 32px;
                display: inline-block;
                background-size: contain;
            }
        }
         nav{
            display: block;
            ul{
                @include flex-center;
                li{
                   padding-left: 10px;
                   a{
                    color: $font-color;
                    font-size: 20px;
                    text-decoration: underline;
                  }
                }
                .inp-search{
                    display: flex;
                    
                    width: 180px;
                    margin-left: 10px;
                    border-top: 1px solid gray;
                    border-left: 1px solid gray;
                    border-bottom: 1px solid gray;
                    input{
                        background-color: #00193c;
                        background-image: url(../image/background-header.webp);
                        outline:none ;
                        padding: 8px;
                        font-size: 18px;
                        color: $font-color;
                        width: 140px;
                        border: none;
                      
                    }
                    
                }
                .search{
                    padding: 8.5px;
                    border: none;
                    outline: none;
                    background-color: #00193c;
                    background-image: url(../image/background-header.webp);
                    width: 30px;
                    border-top: 1px solid gray;
                    border-right: 1px solid gray;
                    border-bottom: 1px solid gray;
                    

                    i{
                        color: $font-color;
                        font-size: 20px;
                        padding-right:5px ;
                    }
                }
               
            }
        }
    }
}
    #bottom-header{
        width: 100%;
        background-color: #222222;
        display: block;
        .bottom-header{
            width: 100%;
            @include flex-between;
            height: 50px;
            nav {
                ul{
                    @include flex-center();
                    li{
                        padding: 0 8px;
                        height: 50px;
                        @include flex-center();
                        a{
                            color: $font-color;
                            font-size: 20px;
                            font-weight: bold;
                        }  
                    }
                    .active{
                        background-color: gray;
                    }
                    li:hover{
                        background-color: gray;
                    } 
                }
            }
            .btn{
                background-color: #222222;
                color:$font-color;
                font-size: 25px;
                border: none;
            }
        }
    }
}
//end header

// start main
main{
    #news{
        margin-top: 10px;
        width: 100%;
        .news{
            width: 100%;
            @include flex-between();
            height: 500px;
            .left-card{
                width: 60%;
                height: 100%;
                background-image: url(../image/FotoJet\ -\ 2022-12-13T202015.475.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                position: relative;
                i{
                    font-size: 60px;
                    color: $font-color;
                }
                .left-icon{
                    position: absolute;
                    top: 45%;
                    left: 3%;
                }
                .right-icon{
                    position: absolute;
                    top: 45%;
                    right: 3%;
                }
                .date{
                    width: 200px;
                    height: 40px;
                    background-color: #4d70d1;
                    @include flex-around();
                    color: $font-color;
                    font-weight: bold;
                    position: absolute;
                    left: 0;
                    bottom: 16%;
                }
                .title{
                    width: 100%;
                    background-color: #222222;
                    height: 80px;
                    @include flex-center();
                    color: $font-color;
                    font-size: 20px;
                    padding-left: 15px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            .right-card{
                width: 39%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .top-right-card{
                    width: 100%;
                    height: 50%;
                    background-image: url(../image/FotoJet\ -\ 2022-12-13T212007.444.jpg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bottom-right-card{
                    width: 100%;
                    height: 50%;
                    background-image: url(../image/gfhgfhgfhgfhgf.jpg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    #news-card{
        width: 100%;
        .news-card{
            flex-wrap: wrap;
            flex-direction: row;
            @include flex-between();
            .card-item{
                width: 300px;
                height: 400px;
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 10px 0;
                border: 1px solid gray;

                .card-img{
                    position: relative;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                    .date{
                        width: 60px;
                        @include flex-center();
                        flex-direction: column;
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: $font-color;
                        .month{
                            width: 100%;
                            background-color: #4d70d1;
                            padding: 8px;
                        }
                        .time{
                            background-color: #4dd163;
                           width: 100%;
                           padding: 5px;
                        }
                    }
                }
                p{
                    font-size: 20px;
                    font-weight: bold;
                    color: blue;
                    padding: 20px;
                }
                .btn-group{
                    @include flex-center();
                    width: 100%;
                    border-top: 1px solid gray;
                    height: 50px;
                    position: absolute;
                        bottom: 0;
                        left: 0;
                    .btn-group-item{
                        width: 33.3%;
                       @include flex-center();
                        background-color: #c2bcbc;
                        height: 50px;
                        color: #494747;  
                        span{
                            margin-left: 10px;
                        }
                    }
                    .like:hover{
                        background-color: green;
                        color: $font-color;
                        cursor: pointer;
                    }
                    .dislike:hover{
                        background-color: red;
                        color: $font-color;
                        cursor: pointer;
                    }
                    .border{
                        border-left: 1px solid gray;
                        border-right: 1px solid gray;
                    }
                }
            }
            .card-item:hover{
                box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.75);
                cursor: pointer;
            }
        }
    }
}
// end main



// mobile  header 

@media screen and (max-width:767px) and (min-width:320px) {
   .container{
   max-width: 90%;
   }
   header{
    //  BUTTONA KLIKLENENDE NAV ACILSIN
    // .btn-nav{
    // display: block;
    // }
     #top-header{
        height: 80px;
        position: relative;
        .top-header{
            height: 80px;
            align-items: center;
            .logo{
                display: flex;
               .logo-btn{
                display: block;
                margin-right: 10px;
               } 
            }
            nav{
               
                ul{
                    .nav-item{
                        display: none;
                    }
                    .search{
                        display: block ;
                        border: none;
                    
                    .lang{
                        display: block;
                    }
                }
            }
            }
        }
     }
     #bottom-header{
        display: none;
     }
   }
}

// mobile  main

@media screen and (max-width:667px) and (min-width:320px){
    main{
        #news{
            margin-top: 0;
            .container{
                max-width: 100%;
                .news{
                    height: 300px;
                    display: block;
                    .left-card{
                        width: 100%;
                        height: 300px;
                        i{
                            display: none;
                        }
                        .date{
                            background-color: rgba(24,148,160,.8);
                            bottom: 23%;
                        }
                        .title{
                           background-color:  rgba(0,0,0,.8);
                           height: 70px;
                        }
                    }
                    .right-card{
                        display: none;
                    }
                }
            }
        }
        #news-card{
            .container{
                width: 95%;
                .news-card{
                   .card-item{
                    width: 100%;
                    height: 400px;
                     p{
                        overflow: hidden;
                     }
                     .btn-group{
                        bottom: 0;
                     }
                   }
                
                }
            }
        }
    }
}


//mobile- tablet main
@media screen and (min-width:668px) and (max-width:767px){
    main{
        #news{
            margin-top: 0;
            .container{
                max-width: 100%;
                .news{
                    height: 500px;
                    display: block;
                    .left-card{
                        width: 100%;
                        height: 500px;   
                    }
                    .right-card{
                        display: none;
                    }
                }
            }
        }
        #news-card{
            .container{
                width: 95%;
                .news-card{
                    display: flex;
                    justify-content: row;
                    flex-wrap: wrap;
                   .card-item{
                    width: 48%;
                    height: 400px;
                     p{
                        overflow: hidden;
                     }
                     .btn-group{
                        bottom: 0;
                     }
                   }
                
                }
            }
        }
    }                 
                       
        
    
}

//tablet header
@media screen and (min-width:768px) and (max-width:960px){
    header{
            

         #top-header{
           
            height: 50px;
            .container{
                min-width: 768px;
                max-width: 960px;
                padding: 0 10px;
             .top-header{
                nav{
                   
                    ul{
                        .nav-item{
                            display: none;
                        }
                        .inp-search{
                            display: block;
                        }
                        .search{
                            display: block ;
                            border: none;
                            border-top: 1px solid gray;
                             border-right: 1px solid gray;
                            border-bottom: 1px solid gray;
                        
                        .lang{
                            display: block;
                        }
                    }
                }
                }
            }
         }
       }

       #bottom-header{
        .container{
            min-width: 768px;
            max-width: 960px;
            padding: 0 10px;
            .bottom-header{
                display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
               nav{
                
                ul{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                }

               }
               .btn{
                 display: none;
               }

            }
        }
       }
    }   
}
// tablet main
@media screen and (min-width:768px) and (max-width:960px){
    main{
        #news{
            margin-top: 0;
            .container{
                max-width: 100%;
                .news{
                    height: 500px;
                    display: block;
                    .left-card{
                        width: 100%;
                        height: 500px;   
                    }
                    .right-card{
                        display: none;
                    }
                }
            }
        }
        #news-card{
            .container{
                width: 95%;
                .news-card{
                    display: flex;
                    justify-content: row;
                    flex-wrap: wrap;
                   .card-item{
                    width: 48%;
                    height: 400px;
                     p{
                        overflow: hidden;
                     }
                     .btn-group{
                        bottom: 0;
                     }
                   }
                
                }
            }
        }
    }                 
}
